<div class="container">
  <div class="row mt-5">
  <h1>Sign up</h1>

  <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), class: "row g-3") do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <div class="col-md-6">
        <%= text_field_with_label(form, :first_name) %>
      </div>

      <div class="col-md-6">
        <%= text_field_with_label(form, :last_name) %>
      </div>

      <div class="col-6">
        <%= form.label :mobile, class: "form-label"%>
        <%= form.number_field :mobile, autofocus: true, autocomplete: "mobile", class: "form-control" %>
      </div>

      <div class="col-6">
        <%= text_field_with_label(form, :email) %>
      </div>

      <div class="col-md-12">
        <%= form.label :address, class: 'form-label' %>
        <%= form.text_area :address, autocomplete: "address", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= text_field_with_label(form, :city) %>
      </div>

      <div class="col-md-4">
        <%= form.label :State, class: "form-label"%>
        <%= form.select :city, %w[ Delhi Mumbai Banglore Indore],{}, class: "form-select" %>
      </div>

      <div class="col-md-2">
        <%= form.label :zip, class: "form-label"%>
        <%= form.number_field :zip, autofocus: true, autocomplete: "zip", class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :password, class: 'form-label' %>
        <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="col-12 my-3">
        <%= form.submit "Sign up", class: "btn btn-lg btn-dark" %>
      </div>

      <%= render "devise/shared/links" %>
<!--
  <div class="field">
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= form.label :mobile %><br />
    <%= form.number_field :mobile, autofocus: true, autocomplete: "mobile" %>
  </div>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up", class: "btn btn-lg btn-dark" %>
  </div>

-->
    <% end %>
  </div>
</div>

