<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Agreement For </h1>
    <p>
      You'r Agreement for Booking of <%= @property.property_name %> is <strong>Created</strong>,
    </p>
    <p>
      <p> Duration    : <strong><%= @agreement.duration %></strong></p>
      <p> Valid From  : <strong><%= @agreement.start_date %></strong></p>
      <p> valid To    : <strong><%= @agreement.end_date %></strong></p>
      <p> Rent Amount :<strong><%= @agreement.amount %></strong> p/m</p>
      <p> Security Deposit Amount :<strong><%= @agreement.security_amount %></strong> p/m</p>
    </p>
    <p>To read and  accept all the tearms and conditions And proceed for the further process, </p>
    <%= link_to "click here", edit_agreement_url(@agreement), class: "btn btn-lg btn-dark d-block", style: "background: #333333; color: white; padding: 8px 20px; font-size: 30px; text-decoration: none; border-radius: 2rem" %>
    <small>please read the tearms and condition, carefully</small>
    <p>Thanks for choosing <strong>Tenento</strong></p>
  </body>
</html>
