<div class="container-fluid px-4" id="listing-container">
  <% if properties.any? %>
    <div class="table-responsive rounded-4">
      <table class="table">
        <thead>
          <tr>
            <th>Images</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% properties.each do |property|%>
            <tr>
              <td><%= property.property_name%></td>
              <td><%= property.property_status %></td>
              <td>
                <%= link_to "See Bookings", property_bookings_path(property) %>
                <%= link_to "Edit", edit_property_path(property) %>
                <%= button_to "Destroy", property_path(property), method: :delete %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  <%else%>
    <div class="row">
      <h1 class="text-center">No Listed Property</h1>
    </div>
  <%end%>
  </div>