<div class="container " id="listing-container">
  <div class="table-responsive rounded-4">
    <table class="table">
      <thead>
        <tr>
          <th>Images</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
<<<<<<< Updated upstream
        <% properties.each do |property|%>
          <tr>
            <td><%= property.property_name%></td>
            <td><%= property.property_status %></td>
            <td>
              <%= link_to "See Bookings", property_bookings_path(property) %>
              <%= link_to "Edit", edit_property_path(property) %>
              <%= button_to "Destroy", property_path(property), method: :delete %>
            </td>
          </tr>
        <%end%>
=======
          <% properties.each do |property|%>
            <tr>
              <td><%= property.property_name%></td>
              <td><%= property.status %></td>
              <td>
                <%= link_to "See Bookings", property_bookings_path(property) %>
                <%= link_to "Edit", edit_property_path(property) %>
                <%= button_to "Destroy", property_path(property), method: :delete %>
              </td>
            </tr>
          <%end%>
>>>>>>> Stashed changes
      </tbody>
    </table>
  </div>
</div>
