<div class="container mt-5 mb-2">
  <div class="row">
    <div class="property-image col-md-5 me-4 p-2 border border-1">
      <%= image_tag @property.images.first, alt: "Property Image", class: "image-responsive w-100" %>
    </div>
    <div class="property-info col-md-6 p-2">
      <h1><%= @property.property_name %></h1>
      <div class="row">
        <div class="col-md-6">
          <small>Price</small>
          <h3><%= @property.price%> </h3>
        </div>
      </div>
    </div>
    <!--<button class="btn btn-lg btn-outline-dark" type="button" id="property_<%= @property.id %>" data-bs-property="<%= property_url %>" >Book Property</button>-->
  </div>
    <%= button_to "Book Property", "#{property_path}/bookings", method: :post, class: "btn btn-lg btn-dark "%>
</div>
